@{
    ViewBag.Title = "Home Page";
}

<div style="display: flex; justify-content: center; align-items: center; height: 70vh">
    <div class="text-center">
        <img src="~/Content/img/logozm.png" alt="Zona movil">
        <h1>Bienvenido a Zona Mobile</h1>
    </div>
</div>