
@{
    ViewBag.Title = "Index";
}


<div id="facturaVentaTablaContainer">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Facturas de Ventas</h6>
        </div>
        <div class="card-body ">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablaFacturasVentas" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>NumeroFactura</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>NumeroFactura</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Nueva Facturacion -->

<div id="FacturaVentaFormularioContainer" style="display: none;">

    <form id="FacturaVentaFormulario">
        <div class="row">

            <input type="hidden" id="IdFacturaVenta" value="" />

            <div class="col-sm-12 col-md-8">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Informacion del Cliente</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="clienteSelectFV">Cliente</label>
                                    <select class="form-control selectpicker dropdown-menu-down" id="clienteSelectFV" data-live-search="true" data-placement="bottom" name="clienteSelectFV">
                                        <option value="">Seleccionar cliente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="productoSelectFV">Seleccione un producto</label>
                                    <select class="form-control selectpicker dropdown-menu-down" id="productoSelectFV" data-live-search="true" data-placement="bottom" name="productoSelectFV">
                                        <option value="">Seleccionar Producto</option>
                                    </select>
                                </div>
                                <div class="form-group col-6 d-flex align-items-end">
                                    <button type="button" class="btn btn-info" id="addProductoFV">Agregar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tablaFacturaVentaProductos" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Modelo</th>
                                            <th>PrecioVenta</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="col-sm-12 col-md-4">

                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Facturar</h6>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="NombreProducto">SubTotal</label>
                                    <input type="text" class="form-control" id="subtotalFv" name="subtotalFv" placeholder="" value="" readonly>
                                </div>
                                <div class="form-group col-12">
                                    <label for="NombreProducto">Impuesto</label>
                                    <input type="text" class="form-control" id="ImpuestoFV" name="ImpuestoFV" placeholder="" value="" readonly>
                                </div>
                                <div class="form-group col-12">
                                    <label for="NombreProducto">Total</label>
                                    <input type="text" class="form-control" id="TotalFV" name="TotalFV" placeholder="" value="" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <input type="checkbox" id="checkEfectivoFV" class="mr-2" aria-label="Checkbox for following text input">
                                            <label class="m-0">Efectivo</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <input type="checkbox" class="mr-2" id="checkTarjetaFV" aria-label="Checkbox for following text input">
                                            <label class="m-0">Tarjeta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 d-flex flex-row">
                                        <button type="submit" id="btnGuardarFV" class="btn btn-primary w-100">Facturar</button>
                                        <button type="button" id="btnRegresarFV" class="btn btn-danger w-100 ml-2">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<!-- Ventana modal -->
<div class="modal fade" id="detalleFacturaVentaModal" tabindex="-1" role="dialog" aria-labelledby="detalleFacturaVentaModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleFacturaVentaModalLabel">Detalles de la Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="detalleIdProducto" name="detalleIdProducto" placeholder="" value="">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="detalleNumeroFactura">Numero Factura</label>
                        <input type="text" class="form-control" id="detalleNumeroFactura" name="detalleNumeroFactura" placeholder="Numero Factura" value="" readonly>
                    </div>
                    <div class="form-group col-4">
                        <label for="detalleCliente">Cliente</label>
                        <input type="text" class="form-control" id="detalleCliente" name="detalleCliente" placeholder="Modelo" value="" readonly>
                    </div>
                    <div class="form-group col-4">
                        <label for="detalleCedula">Cedula</label>
                        <input type="text" class="form-control" id="detalleCedula" name="detalleCedula" placeholder="Cedula" value="" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="detalleTelefono">Telefono</label>
                        <input type="number" class="form-control" id="detalleTelefono" name="detalleTelefono" placeholder="Telefono" value="" readonly>
                    </div>

                    <div class="form-group col-4">
                        <label for="detalleFecha">Fecha</label>
                        <input type="text" class="form-control" id="detalleFecha" name="detalleFecha" placeholder="Fecha" readonly>
                    </div>

                    <div class="form-group col-4">
                        <label for="detalletotal">Total</label>
                        <input type="text" class="form-control" id="detalletotal" name="detalletotal" placeholder="Total" readonly>
                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Vendido</h6>
                            </div>
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tablaFacturasPVendidos" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Modelo</th>
                                                <th>PrecioVenta</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/VistasJS/Ventas/Ventas.js"></script>
}
