body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.error, .invalid-feedback {
    color: red !important;
    font-size: 14px !important;
    margin-top: 5px !important;
    width: 100%;
}



input.error {
    border-color: red;
}

input.valid {
    border-color: green;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #E6F4F9;
}

